<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VLVYKGVQ7N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VLVYKGVQ7N');
    </script>

    <title>Matrix Roleplay - Hierarquia</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#00BF00">
    <meta name="msapplication-TileImage" content="/img/favicon_io/android-chrome-192x192.png">
    <meta name="theme-color" content="#00BF00">
    <meta name="author" content="Matrix Roleplay - Hierarquia">
    <meta name="keywords" content="servidor,roleplay,rp,gta,rio de janeiro,rj,tema proprio">
    <meta name="description" content="Hierarquia do Servidor Matrix Roleplay">

    <meta property="og:title" content="Matrix Roleplay - Hierarquia">
    <meta property="og:description" content="Hierarquia do Servidor Matrix Roleplay">
    <meta property="og:image" content="/img/favicon_io/android-chrome-512x512.png">
    <meta property="og:url" content="https://matrixroleplay.com.br/hierarquia">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="pt_BR">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/discord.css">
</head>

<body>

    <div class="box-guilds">
        <div class="guild">
            <a href="/" class="logo">
                <img src="/img/logo-ds-128x128.png" alt="Matrix Roleplay">
            </a>
            <div class="name">
                Matrix Roleplay (Zion)
            </div>
            <div class="selected"></div>
        </div>
    </div>

    <div class="box-content no-channels">
        <div class="inner">
            <div class="title">
                💥ʜɪᴇʀᴀʀqᴜɪᴀ
            </div>
            <div class="body" id="regras-markdown">

                <div class="markdown">
                    <h3>Diretores</h3>
                </div>

                <table class="table table-bordered table-striped table-discord">
                    <tbody>
                        <tr>
                            <th>Diretor Discord</th>
                            <th>Diretor Game</th>
                            <th>Diretor Donates</th>
                        </tr>
                        <tr>
                            <td><%- members['436949125603393538'].nick %></td>
                            <td><%- members['701606468901666856'].nick %></td>
                            <td><%- members['319559280393060355'].nick %></td>
                        </tr>
                    </tbody>
                </table>

                <div class="markdown">
                    <h3>Staff</h3>
                </div>

                <table class="table table-bordered table-striped table-discord">
                    <tbody>
                        <tr>
                            <td></td>
                            <% for (var i in squads) { %>
                            <th><%- squads[i].name %></th>
                            <% } %>
                            <td></td>
                        </tr>
                        <% for (var j in levels) { %>
                        <tr>
                            <th width="200"><%- levels[j].name %></th>
                            <% for (var i in squads) { %>
                            <td width="250">
                                <% for (var k in squads[i].levels[j].members) { %>
                                <p>
                                    <%- squads[i].levels[j].members[k][1] %>
                                </p>
                                <% } %>
                            </td>
                            <% } %>
                            <td></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>

                <!-- <iframe src="/hierarquia-graficos" frameborder="0" style="display: block; width: 100%; height: 100%;"></iframe> -->
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>

</html>